/* 
************
IMPORT 
************
*/

@import url('_partials/reset.css');
@import url('_partials/common.css');
@import url('_partials/variables.css');

/* 
************
BODY 
************
*/

.big-container {
    background-color: white;
    height: 95vh;
    z-index: 99;
    position: fixed;
    top: 2.5%;
    left: 5%;
    right: 5%;
    max-width: 86.25rem;
    margin: 0 auto;
}

/* 
left side
 */

.left-side {
    border: 1px solid black;
    width: 35%;
    height: 100%;
}

.left-side>div {
    width: 100%;
}

/* header  */

.user-container {
    align-items: center;
    padding: .625rem;
}

.icon-container {
    padding: 1.5625rem;
}

/* main  */

.notifications {
    background-color: var(--notifications);
    height: 5rem;
    padding: 1.25rem;
    align-items: center;
}

.bell-container {
    background-color: white;
    justify-content: center;
    align-items: center;
}

.bell-container i {
    margin: 0;
    color: var(--notifications);
}

.notifications-on {
    text-decoration: underline;
    line-height: 1.5rem;
    cursor: pointer;
}

/* 
righ side 
*/

.right-side {
    border: 1px solid black;
    width: 65%;
    height: 100%;
}