/* 
************
COMMON 
************
*/

body {
    font-family: 'Lato', sans-serif;
    background-color: #00000033;
    height: 100vh;
    background-image: linear-gradient(to bottom, #009788 11%, #dbdbd1 11%);
    justify-content: center;
    align-items: center;
}

[v-cloak] {
    display: none;
}

.body-top {
    background-color: var(--body-top);
    width: 100%;
    height: 11%;
}

.flex {
    display: flex;
}

header {
    background-color: var(--header-footer);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.375rem;
}

.round-container {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    margin-right: 1.25rem;
}

.round-container img {
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
}

i {
    font-size: 1.375rem;
    color: var(--icons);
}

ul {
    list-style: none;
    padding: 0;
}

.font-bold {
    font-weight: bold;
}

.small-grey {
    font-size: .875rem;
    color: var(--alternative-font);
}

button {
    all: unset;
}