/* 
************
VARIABLES 
************
*/

:root {
    --body-top: #009788;
    --header-footer: #eaeaea;
    --icons: #b1b1b1;
    --notifications: #8edafc;
    --alternative-font: #797979;
    --search-bar: #fbfbfd;
}